---
import BaseLayout from "../layouts/BaseLayout.astro"; 
import { supabase } from "../supabaseClient";
import Card from "../components/Card.astro";

export async function getStaticPaths () {

let { data: directory, error } = await supabase
  .from('directory')
  .select('*')

if (error) {
  console.error(error);
  throw error;
};

const paths = directory?.map((id) => ({
  params: {
    city: id.city,
    specialty: id.specialty,
  },
},
));
return paths;
}
---
<BaseLayout>
<h1 class="text-center">It Worked mofucka!</h1>

</BaseLayout>

<style>
  </style>