---
import BaseLayout from "../layouts/BaseLayout.astro"; 
import { supabase } from "../supabaseClient";
import Card from "../components/Card.astro";

export async function getStaticPaths () {

let { data: directory, error } = await supabase
  .from('directory')
  .select('*')

if (error) {
  console.error(error);
  throw error;
};

const paths = directory?.map((id) => ({
  params: {
    city: id.city,
    specialty: id.specialty,
  },
},
));
return paths;
}

const { data: photogs, error } = await supabase.from('directory').select('*').eq('city', 'portland');
interface data {
  id: number
  city: string
  specialty: string
  name: string
}
---
<BaseLayout>
<h1 class="text-center">It Worked mofucka!</h1>
<section class="photogs">
	<div class="container">
      {photogs?.map((id) => (
           <ul>
            <li><span class="text-xl">Photographer:</span> {id.photographer}</li>
            <li><span class="text-xl">City:</span> {id.city}</li>
            <li><span class="text-xl">Specialty:</span> {id.specialty}</li>
          </ul>
         ))
       }
       </div>
      </section>
    </BaseLayout>

<style>
      .photogs .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 0 20px;
        margin: 30px auto;
    }
    @media (max-width: 500px) {
        .photogs .container {
            grid-template-columns: 1fr;
        }
    }
  </style>