---
import { supabase } from "../supabaseClient";
import DirectoryListing from "@layouts/DirectoryListing.astro";
import PhotogCard from "@components/PhotogCard.astro";

let { data: directory, error } = await supabase.from("directory").select("photographer, domain, about, image").eq("city", "denver");
if (error) {
  console.error(error);
  throw error;
}
---

<DirectoryListing>
  <h1 class="text-center">The Best Denver Boudoir Photographers</h1>
  <p class="mt-12 mx-32 text-xl">
    Boudoir photography is a unique and intimate art form that captures the sensuality and confidence of women. In Denver, Colorado, there are many talented photographers who specialize in boudoir
    photography and are dedicated to helping women feel beautiful and empowered. Whether you're looking for a romantic keepsake or a confidence-boosting experience, these photographers have the skills
    and expertise to create stunning images that you'll treasure for years to come. Here, we've compiled a list of the best boudoir photographers in Denver, Colorado.
  </p>
  <h4 class="text-center text-xl pt-8">Table of Contents</h4>
  <div class="flex justify-center">
    <ul class="rounded-lg w-96">
      <li class="px-6 py-2 border-b border-gray-200 w-full rounded-t-lg">
        <a
          href="#our-favorite-boudoir-studios"
          aria-current="true"
          class="block px-6 py-2 border-b w-full rounded-t-lg cursor-pointer"
          >Our Favorite Boudoir studios</a
        >
      </li>
      <li class="px-6 py-2 border-b border-gray-200 w-full">
        <a
          href="#outdoor-boudoir-denver-area"
          aria-current="true"
          class="block px-6 py-2 border-b w-full rounded-t-lg cursor-pointer"
          >Outdoor Boudoir in the Denver Area</a
        >
      </li>
      <li class="px-6 py-2 border-b border-gray-200 w-full">
        <a
          href="#couples-boudoir-denver"
          aria-current="true"
          class="block px-6 py-2 border-b w-full rounded-t-lg cursor-pointer"
          >Couples Boudoir in Denver</a
        >
      </li>
      <li class="px-6 py-2 border-b border-gray-200 w-full">
        <a
          href="#nude-boudoir-denver-colorado"
          aria-current="true"
          class="block px-6 py-2 border-b w-full rounded-t-lg cursor-pointer"
          >Nude Boudoir in Denver, Colorado</a
        >
      </li>
      <li class="px-6 py-2 w-full rounded-b-lg">
        <a
          href="#denver-broncos-themed-boudoir"
          aria-current="true"
          class="block px-6 py-2 border-b w-full rounded-t-lg cursor-pointer"
          >Denver Broncos Themed Boudoir</a
        >
      </li>
    </ul>
  </div>
  <h2
    class="leading-trim mt-12 mx-24 text-4xl"
    id="our-favorite-boudoir-studios"
  >
    Our Favorite Boudoir Studios:
  </h2>
  <container class="grid justify-center my-10 text-2xl">
    {
      directory?.map((id) => (
        <PhotogCard
          name={id.photographer}
          domain={id.domain}
          about={id.about}
          image={id.image}
        />
      ))
    }
  </container>
  <container class="flex-auto columns-2"
    ><div id="1">
      <h2
        class="leading-trim mt-12 mx-24 text 2xl"
        id="outdoor-boudoir-denver-area"
      >
        Outdoor Boudoir in the Denver, Area
      </h2>
      <p class="leading-trim my-12 mx-32 text-lg">
        Outdoor boudoir photography can offer a unique and beautiful backdrop for your photos, showcasing the natural beauty of the area. Some photographers specialize in outdoor boudoir photography
        and can recommend scenic locations that would be ideal for your photo session. However, it's important to keep in mind that outdoor boudoir photography can come with certain challenges, such
        as exposure to the elements, privacy concerns, and unexpected disruptions. Before scheduling an outdoor boudoir photo session, be sure to discuss your preferences with the photographer and
        consider any limitations or risks involved. Additionally, it's important to be aware of and respect any laws or regulations regarding public nudity or sexual expression in your chosen
        location. You may need to obtain permits or seek out private locations to ensure that your photo session is conducted in a safe and respectful manner.
      </p>
    </div><figure id="2">
      <img
        class="p-8"
        src="https://www.fineartboudoir.net/wp-content/uploads/2018/07/denveroutdoorboudoir_fineartboudoir1.jpg"
      /><figcaption class="text-center">photo: https://www.fineartboudoir.net</figcaption>
    </figure></container
  >
  <container class="flex-auto columns-2"
    ><figure id="3">
      <img
        class="p-8"
        src="https://images.squarespace-cdn.com/content/v1/60783f52846ed86034169fbb/1651163835688-AA6RBV720S63SKE7ENAA/older-couple-boudoir-embodiment-denver-25.jpg?format=1500w"
      /><figcaption class="text-center">photo: https://www.embodimentboudoirdenver.com/</figcaption>
    </figure>
    <div id="4">
      <h2
        class="leading-trim mt-12 mx-24 text 2xl"
        id="couples-boudoir-denver"
      >
        Couple's Boudoir in Denver
      </h2>
      <p class="leading-trim mt-12 mx-32 text-lg">
        Couples boudoir photography is a popular option for couples who want to capture their love and intimacy in a unique and intimate way. Many boudoir photographers in Denver offer couples boudoir
        sessions, which can be tailored to your specific needs and preferences. When booking a couples boudoir session, it's important to find a photographer who has experience with couples
        photography and who you feel comfortable working with. You should also discuss your expectations for the photo session and any specific ideas or poses you would like to incorporate. Couples
        boudoir photography can be a fun and intimate experience for both partners, and the results can be beautiful and lasting memories of your relationship. If you're interested in booking a
        couples boudoir session in the Denver area, be sure to research different photographers and read reviews from previous clients to find the best fit for you.
      </p>
    </div></container
  >
  <h2
    class="text-center text-6xl m-12"
    id="nude-boudoir-denver-colorado"
  >
    Nude Boudoir in Denver, Colorado
  </h2>
  <figure class="flex">
    <img
      class="p-8 content-center object-contain h-96"
      src="https://blushandtease.com/wp-content/uploads/2017/02/06-906-pp_gallery/denverboudoir44.jpg"
    />
    <figcaption>photo: https://blushandtease.com</figcaption>
  </figure>
  <p class="leading-trim mt-12 mx-32 text-lg">
    It's possible to book a nude boudoir session in Denver, Colorado, but it's important to understand the legal and ethical considerations involved. In the state of Colorado, nudity is generally
    considered to be a criminal offense if it is intended to cause sexual arousal or affront the modesty of others. This means that while nudity may be acceptable in certain private or intimate
    settings, it may not be allowed in public spaces. When booking a nude boudoir session, it's important to find a photographer who is experienced in nude photography and who you feel comfortable
    working with. You should also discuss your expectations for the photo session and any specific ideas or poses you would like to incorporate. It's also important to consider your own comfort level
    and boundaries when it comes to nudity in photography. You should never feel pressured or coerced into posing in ways that make you feel uncomfortable or violated. When choosing a photographer for
    a nude boudoir session, it's important to research their portfolio and reputation, and to read reviews from previous clients. You may also want to consider seeking referrals from friends or
    colleagues who have had positive experiences with boudoir photographers in Denver.
  </p>
  <h2
    class="text-center text-6xl m-12"
    id="denver-broncos-themed-boudoir"
  >
    Denver Broncons Themed Boudoir
  </h2>
  <figure class="flex">
    <img
      class="p-8 content-center object-contain h-96"
      src="https://www.brookesummer.com/wp/wp-content/uploads/2014/02/denver-boudoir-brookesummer-mrs-s-l-0073_WEB-685x1024.jpg"
    />
    <figcaption>photo: https://www.brookesummer.com/</figcaption>
  </figure>
  <p class="leading-trim mt-12 mx-32 text-lg">
    If you're interested in booking a Denver Broncos themed boudoir photo session, there are several things you can do: Research photographers: Look for photographers in your area who specialize in
    boudoir photography. You can use search engines, photography directories, and social media platforms to find photographers who offer boudoir sessions. Check their portfolios: Once you've found a
    few photographers, take a look at their portfolios to see if they have experience with sports-themed boudoir sessions. You want to make sure that the photographer you choose is comfortable with
    this type of photography and has a portfolio that demonstrates their ability to create beautiful, high-quality images. Contact the photographers: Reach out to the photographers you're interested
    in working with to ask about their availability, pricing, and packages. Be sure to ask if they have any experience with Denver Broncos themed boudoir sessions, or if they're willing to work with
    you to create the specific look and feel you want for your photos. Schedule a consultation: Most photographers offer a pre-session consultation, either in person or over the phone, to discuss your
    vision for the session and answer any questions you have. This is a great opportunity to get to know the photographer and ensure that you're both on the same page. Book your session: Once you've
    found the right photographer, book your session and start preparing for your Denver Broncos themed boudoir photo shoot. You may want to consider purchasing any props, outfits, or accessories that
    will help bring your vision to life.
  </p>
</DirectoryListing>
